* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*==== color ====*/
.bg-primary-color {
  background-color: #f4f4f4;
}
.bg-color {
  background-color: #1e2772;
}
.text-title-color {
  color: #102048;
  font-size: 2rem;
  font-weight: 700;
  margin: 66px 0px;
}

.header {
  width: 25%;
}
.main-body {
  width: 75%;
}
/*==== nav text ====*/
.nav-text {
  font-size: 18px;
  line-height: 27px;
}
.nav-items-link {
  padding-left: 4rem !important;
}

.hover-nav:hover {
  background: rgba(238, 238, 238, 0.2);
  border-radius: 8px;
}

.active {
  background: rgba(238, 238, 238, 0.2);
  border-radius: 8px;
}

/*==== dropdown-menu-text ====*/

.dropdown-menu-text {
  margin-left: 5.6rem;
  /* display: none; */
  transition: 0.5s;
}
.open-menus {
  display: block;
  transition: 0.5s;
}
.dropdown-menu-text li a {
  font-size: 16px;
  font-weight: 500;
}
.logout-text {
  margin-bottom: 50px;
}
.logout-text a {
  font-size: 14px;
}

/* body  content dashboard */
/*==== header text style ====*/
.search-field {
  width: 350px;
  border: 1px solid #a49999;
  border-radius: 5px;
  font-size: 12px;
}
.search-btn {
  left: 15px;
}
.search-field:focus {
  outline: none;
}
.search-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #a49999;
}

.header-right-content {
  padding-left: 37.9rem;
}
.avatar {
  vertical-align: middle;
  height: 60px;
  height: 60px;
  border-radius: 50%;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #fc0202;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 12px;
}

/*==== company-card ====*/
.company-status {
  font-size: 14px;
  margin-left: 12px;
}
.company-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.company-card-item {
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
}
.total-emloyee {
  font-size: 12px;
  color: #a5a5a5;
  font-weight: 500;
  margin-bottom: 0px;
}
.btn-view {
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
}

.btn-view:hover {
  background-color: #102048;
}

.people-avatar {
  margin-right: -10px;
}

/*==== expense report ====*/

.expense-container {
  margin-top: 130px;
  margin-bottom: 70px;
}
.expense-report-content {
  width: 60%;
}
.btn-export-content {
  border-left: 1px solid #1e2772;
}
.btn-export {
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  padding: 8px 16px;
  border-left: 1px solid #1e2772;
  box-shadow: 0px 5px 5px #2d389e7a;
}
.btn-export:hover {
  background-color: #102048;
}

.date {
  font-size: 10px;
  color: #bcbcbc;
  font-weight: 600;
}

/*==== Task summary ====*/
.task-summary-container {
  width: 30%;
}
.task-summary {
  border: 1px dashed #9747ff;
  border-radius: 5px;
  height: 90%;
}
.task-title {
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 400;
}
.progress-color1 {
  background: #c6c7f8;
  border-radius: 8px 0px 0px 8px;
}
.progress-text-color {
  color: rgba(0, 0, 0, 0.2);
}
.progress-text {
  font-weight: 600;
  font-size: 18px;
  right: 1rem;
}

/*===== attendance page =====*/

.btn-download {
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  padding: 12px 25px !important;
  border-left: 1px solid #1e2772;
  box-shadow: 0px 5px 5px #2d389e7a;
}
.btn-download:hover {
  background-color: #102048;
}

/*form*/
.input-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 39px 9px;
}
.input-form .form-text {
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}

/* table */
.table-content {
  padding-bottom: 8rem;
}
.tabel-th {
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
.table-text {
  font-weight: 400;
  font-size: 13px;
  color: #1c1c1c;
}
.btn1-table {
  padding: 0px 5px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  background-color: #4aa785;
  border: none;
}
.btn2-table {
  color: #ffffff;
  padding: 0px 5px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  background-color: #e25959;
  border: none;
}
.btn2-table:hover {
  color: #ffffff;
  background-color: #e95353;
}
.table-check:checked {
  background-color: #000000;
  border: #000000;
}
/*pagination-container*/
.pagination-container {
  margin-top: 97px;
}
.pagination-number-bg-color {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.pagination-number {
  font-size: 12px;
  font-weight: 400;
}

/* ========== MEDIA QUERIES (TABLET DEVICE) ========== */
@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
  }
  .main-body {
    position: absolute;
    width: 100%;
  }
  .body-header {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
  }

  .company-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .search-field {
    width: 100%;
  }
  .search {
    margin-bottom: 10px;
  }
  .task-summary-container {
    width: 100%;
  }
  .expense-container {
    margin: 50px 0;
    flex-direction: column;
  }
  .expense-report-content {
    width: 100%;
  }
  .task-summary {
    height: 100%;
  }
  /*attendance page style*/
  .input-form {
    grid-template-columns: 1fr 1fr;
    gap: 30px 9px;
  }
}

/* ========== MEDIA QUERIES (MOBILE DEVICE) ========== */
@media only screen and (max-width: 640px) {
  .header {
    width: 100%;
  }
  .main-body {
    width: 100%;
  }
  .body-header {
    width: 100%;
    flex-direction: column-reverse;
  }
  .menus-items {
    margin-bottom: 20px;
  }
  .title-texts {
    margin: 30px 0px;
  }
  .company-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .search {
    margin-bottom: 10px;
  }
  .search-field {
    width: 100%;
  }
  .task-summary-container {
    width: 100%;
  }
  .expense-container {
    margin: 50px 0;
    flex-direction: column;
  }
  .expense-report-content {
    width: 100%;
  }
  .task-summary {
    height: 100%;
  }
  .dayMonth {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  /*attendance page style*/
  .attendance-conatiner {
    margin-top: 30px;
    flex-direction: column;
  }
  .input-form {
    grid-template-columns: 1fr;
    gap: 9px;
  }
  .table-content {
    padding-bottom: 3rem;
  }
  /*pagination*/
  .pagination-container {
    margin-top: 40px;
  }
}
